/* elements */
* {
    transition: 0.5s;
}

a {
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
a:hover {
    border-color: #fff;
}

.my-btn {
    background-color: transparent;
    box-shadow: 4px 4px 0 0 #3b996d;
    outline: none;
    border: 2px solid #3b996d;
    border-radius: 4px,
}
.my-btn:active {
    box-shadow: none;
}

/* elements */


/* asteroid info */

.asteroid_box {
    width: 100%;
    border: 2px solid #3b996d;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 7px 7px 0 0 #3b996d;
}
.asteroid_box {
    margin-bottom: 20px;
}

/* asteroid info */


/* map */

.leaflet-container {
    height: 80vh;
}

/* map */


/* sidebar */

.sidebar__link:not(:last-of-type) {
    margin-bottom: 5px;
}
.sidebar__link {
    padding: 5px;
    border-radius: 4px;
    font-size: 0.94em;
}
.sidebar__link:hover {
    background-color: rgba(160, 160, 160, 0.2);
}
.sidebar__link_highlight {
    background-color: rgba(160, 160, 160, 0.5)!important;
}

#aside {
    width: 360px;
}
#aside__fluid {
    position: sticky;
    top: 70px;
}

/* sidebar */